@charset "utf-8";

body
{
	background-color: #ffffff;
	background-image: url("./image/back.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	/*position: relative;*/
	margin: 0 0 0 0;
	text-align: left;
	color: #000000;
	font-size: 13px;
	line-height: 150%;
	letter-spacing: 0.05em;
	font-family:'メイリオ','ＭＳ ゴシック','ヒラギノ角ゴ Pro W3','osaka', sans-serif;
	text-align: center;
}

img
{
	border: none;
}


a:link
{
	color: #ff7d10; 
}

a:visited
{
	color: #BB7209;
}

a:active
{
	color: #fc953e;
}

p
{
	margin: 0 0 1em 0;
}

span.bold16px
{
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
}

span.12px
{
	font-size: 12px;
}

span.bold
{
	font-weight: bold;
}

/* CLEAR */
.clear
{
	clear: both;
}

/* 全体 */
div#globalBox
{
	width: 900px;
	margin: 0 auto 0 auto;
	text-align: center;
}

div#logo
{
	margin: 10px auto 0px auto;
}

/* メニューバー */
div#menu
{
	width: 800px;
	height: 56px;
	margin: 0 50px 25px 50px;
	text-align: center;
}

div#menu div#menu_left
{
	width: 20px;
	height: 56px;
	background-image: url("./image/menuBar_left.png");
	background-repeat: no-repeat;
	float: left;
}

div#menu div#menu_right
{
	width: 20px;
	height: 56px;
	background-image: url("./image/menuBar_right.png");
	background-repeat: no-repeat;
	float: left;
}

div#menu div#menu_center
{
	width: 745px;
	height: 56px;
	background: url("./image/menuBar_center.png") repeat-x;
	float: left;
	padding: 15px 0 0 15px;
}

div#menu div#menu_center div
{
	width: 105px;
	height: 26px;
	float: left;
	display: inline;
	padding: 0 8px 0 8px;
	border-left: dashed 1px #818181;
	border-right: dashed 1px #818181;
	margin-right: -1px;
}

div#menu div#menu_center div a
{
	width: 105px;
	height: 26px;
	display: block;
}

a#menu_top			{ background: url("./image/menu_top.png") 0px 0px; }
a#menu_top:hover	{ background: url("./image/menu_top.png") 0px -26px; }
a#menu_story		{ background-image: url("./image/menu_story.png") 0px 0px; }
a#menu_story:hover	{ background-image: url("./image/menu_story.png") 0px -26px; }
/*
a#menu_chara		{ background: url("./image/menu_chara.png") 0px 0px; }
a#menu_chara:hover	{ background: url("./image/menu_chara.png") 0px -26px; }
a#menu_graph		{ background: url("./image/menu_graph.png") 0px 0px; }
a#menu_graph:hover	{ background: url("./image/menu_graph.png") 0px -26px; }
*/
a#menu_chara		{ background: url("./image/menu_chara_off.png") 0px 0px; }
a#menu_graph		{ background: url("./image/menu_graph_off.png") 0px 0px; }

a#menu_story		{ background: url("./image/menu_story.png") 0px 0px; }
a#menu_story:hover	{ background: url("./image/menu_story.png") 0px -26px; }
a#menu_down			{ background: url("./image/menu_down.png") 0px 0px; }
a#menu_down:hover	{ background: url("./image/menu_down.png") 0px -26px; }
a#menu_spec			{ background: url("./image/menu_spec.png") 0px 0px; }
a#menu_spec:hover	{ background: url("./image/menu_spec.png") 0px -26px; }

/* トップ画面のテキスト */
div#topTextBox
{
	width: 900px;
	height: 225px;
	background: url("./image/white.png") repeat;
}

div#topTextBox img
{
	margin: 12px 0 0 0;
}

/* トピック */
div.topic
{
	width: 537px;
	margin: 20px 0 0 50px;
	padding: 0 0 0 0;
	float: left;
	display: inline;
	text-align: left;
	overflow: hidden;
}

div.topic_top
{
	width: 537px;
	height: 20px;
	margin: 0;
	background: url("./image/topic_top.png") no-repeat;
}

div.topic_center
{
	width: 517px;
	margin: 0;
	padding: 10px 0 10px 25px;
	background: url("./image/topic_center.png") repeat-y;
}

div.topic_bottom
{
	width: 537px;
	height: 20px;
	margin: 0;
	background: url("./image/topic_bottom.png") no-repeat;
}

div.topic_title
{
	width: 485px;
	margin: -8px 0 10px 0;
	padding: 0 0 5px 0;
	border-bottom: solid 1px #818181;
}

div.topic_body
{
	width: 480px;
	margin: 0 0 0 5px;
}

div.topic_body div.subTitle
{
	height: 42px;
	margin: 0 0 7px 0;
	padding: 0 0 0 5px;
	font-weight: normal;
	font-size: 14px;
	border-left: solid 5px #ff2d66;
}

div.topic_body div.subTitle span
{
	font-size: 12px;
	color: #505050;
	font-weight: normal;
}


/* サイドバー */
div.side
{
	width: 258px;
	margin: 20px 0 0 0px;
	padding: 0 0 0 0;
	float: left;
	display: inline;
	text-align: left;
}

div.side_top
{
	width: 258px;
	height: 20px;
	margin: 0;
	background: url("./image/side_top.png") no-repeat;
}

div.side_center
{
	width: 238px;
	margin: 0;
	padding: 10px 0 10px 25px;
	background: url("./image/side_center.png") repeat-y;
}

div.side_bottom
{
	width: 258px;
	height: 20px;
	margin: 0;
	background: url("./image/side_bottom.png") no-repeat;
}

div.side_title
{
	width: 205px;
	margin: -8px 0 10px 0;
	padding: 0 0 5px 0;
	border-bottom: solid 1px #818181;
}

div.side_body
{
	width: 200px;
	margin: 0 0 0 5px;
}


/* フッター */
div#footer
{
	width: 900px;
	height: 50px;
	margin: 25px 0 0 0;
	background: url("./image/white.png") repeat;
}

div#footer div#copy
{
	color: #505050;
	font-size: 10px;
	float:right;
	margin: 20px 15px 0 0;
	display: inline;
}

div#footer div#mikan
{
	margin: 5px 50px 0 0;
	float:right;
	display: inline;
}

div.mainBox
{
	width: 900px;
	background: url("./image/white.png") repeat;
	padding: 0 0 15px 0;
	color: #323232;
	text-align: center;
}

div.mainBox div.boxTitle
{
	width: 760px;
	height: 20px;
	border-bottom: dotted 1px #818181;
	margin: 0 auto 20px auto;
	padding: 15px 0 0 5px;
	text-align: left;
}

/* story.html用 */
div.storyTitle_left
{
	margin-bottom: 25px;
	padding: 0 0 0 70px;
	text-align: left;
	border: none;
}

div.storyTitle_right
{
	margin-bottom: 25px;
	padding: 0 70px 0 0;
	text-align: right;
	border: none;
}

div.story_pre
{
	margin: 0 80px 50px 80px;
	/*background: url("./image/logo_mini.png") no-repeat;*/
	background-position: right bottom;
	text-align: left;
}

div.story_basket
{
	margin: 0 80px 50px 80px;
	background: url("./image/basketCount_logo.png") no-repeat;
	background-position: right center;
	text-align: left;
}

div.story_dream
{
	margin: 0 80px 50px 80px;
	background: url("./image/dream_logo.png") no-repeat;
	background-position: right center;
	text-align: left;
}

div.story_tenaku
{
	margin: 0 80px 30px 80px;
	background: url("./image/logo_mini.png") no-repeat;
	background-position: right center;
	text-align: left;
}

/* spec.html用 */
div.alignLeft
{
	width: 740px;
	text-align: left;
	padding: 0 80px 0 80px;
}

div.spec_box
{
	float: left;
	padding: 0 0 0 0;
	margin: 0 20px 0 0;
	width: 340px;
	display: inline;
}

div.sub
{
	height: 18px;
	margin: 0 0 10px 0;
	padding: 0 0 0 22px;
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	background: url("./image/dot.png") no-repeat;
}

table.spec_table
{
	margin: 0 0 0 5px;
}

table.spec_table td.w
{
	width: 90px;
}

/* down.html用 */
.address_200
{
	width: 196px;
	height: 70px;
	border: dotted 1px #818181;
	overflow: auto;
	margin: 0 0 20px 0;
	background-color: #ffffff;
}

.address_600
{
	width: 596px;
	height: 50px;
	border: dotted 1px #818181;
	overflow: auto;
	margin: 0 0 20px 0;
	background-color: #ffffff;
}

div.addBox_200x40
{
	width: 210px;
	height: 140px;
	text-align: left;
	float: left;
}

div.addBox_200x200
{
	width: 210px;
	height: 300px;
	text-align: left;
	float: left;
}



