@charset "utf-8";

body
{
	background-color: #000000;
	margin: 0 0 0 0;
	text-align: center;
	color: #ffffff;
	font-size: 13px;
	line-height: 150%;
	letter-spacing: 0.25px;
/*	font-family:'メイリオ','MS Pゴシック','ヒラギノ角ゴ Pro W3','osaka', sans-serif;*/
}


a:link
{
	color: #ff7d10;
}

a:visited
{
	color: #BB7209;
}

a:active
{
	color: #fc953e;
}

img
{
	border: none;
}

p
{
	margin: 0 0 1em 0;
}

/* CLEAR */
div.clear
{
	clear: left;
}

div.titlelogo
{
	margin: 10px;
	border: none;
}


p.title
{
	margin: 10px;
	padding: 5px;
	background-color: #e60011;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
}

