@charset="UTF-8";

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slidein-from-left {
  from { opacity: 0; transform: translateX(-20px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes slidein-from-top {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slidein-from-bottom {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


/* General */
*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: 'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif;
  font-weight: 200;
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  background: #fff;
  color: #333333;
  line-height: 1.4;
  animation-name: fadein;
  animation-duration: 500ms;
}
img {
  vertical-align: top;
}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ff7b00;
}
a {
  color: #ff7b00;
  transition: 200ms;
}
a:hover {
  color: #ffaa01;
  transition: 200ms;
}
a.underline {
  color: #333333;
}
a.underline:before,
a.underline:after {
  content: "";
  position: absolute;
  top: 2.0em;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: solid 2px #ffaa01;
  background: rgba(255,255,255,0);
  transition: 200ms;
}
a.underline:before { left: 50%; }
a.underline:after { right: 50%; }
a[data-paging-current]:before,
a[data-paging-current]:after,
a.underline:hover:before,
a.underline:hover:after {
  width: 50%;
}
.graphfont {
  font-family: 'Raleway', 'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif;
  font-weight: 400;
}

#logo {
  z-index: 100;
  position: fixed;
  top: 30px;
  left: 50px;
  height: 40px;
}
#logo h1 {
  display: inline-block;
}

#menu {
  z-index: 200;
  position: fixed;
  top: 30px;
  right: 30px;
  height: 40px;
  text-align: right;
}
#menu a {
  font-size: 30px;
  line-height: 40px;
  margin-right: 20px;
}
#menu a {
  color: #444444;
}
#menu a:hover {
  color: #ffaa01;
}
#menu .sub-menu {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border: solid 1px red;
  background: rgba(255, 255, 255, 0.5);
}

.copyright {
  z-index: 300;
  position: fixed;
  right: 50px;
  bottom: 30px;
  font-size: 14px;
}

.left-nav {
  z-index: 400;
  position: fixed;
  top: 50%;
  left: 0;
  width: 140px;
  transform: translateY(-50%);
  padding: 10px 20px 10px 0;
  text-align: right;
  font-size: 16px;
  line-height: 2.5em;
  border-right: solid 1px #AAAAAA;
}

.left-nav a {
  animation-name: slidein-from-left;
  animation-duration: 800ms;
  animation-fill-mode: both;
}
.left-nav a.nav1 { animation-delay: 100ms; }
.left-nav a.nav2 { animation-delay: 200ms; }
.left-nav a.nav3 { animation-delay: 300ms; }
.left-nav a.nav4 { animation-delay: 400ms; }

section {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  padding: 100px 50px;
}

h2.section-title {
  font-size: 40px;
  font-weight: 200;
  color: #444444;
  margin-bottom: 100px;
}

#about > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.about h2 {
  animation-name: slidein-from-top;
  animation-duration: 800ms;
  animation-fill-mode: both;
  padding-bottom: 20px;
}
.about p {
  animation-name: slidein-from-bottom;
  animation-duration: 800ms;
  animation-fill-mode: both;
  font-size: 16px;
}

@keyframes draw-line {
  from {
    width: 0
  }
  to {
    width: 520px;
  }
}
.about p:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-top: solid 1px #AAAAAA;
  margin-bottom: 20px;
  margin-left: -10px;
  animation-name: draw-line;
  animation-duration: 800ms;
  animation-delay: 800ms;
  animation-fill-mode: both;
}

#products > div {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.product .thumbnail {
  width: 300px;
  height: 300px;
  flex-shrink: 1;
}
.product.left .thumbnail { order: 1; }
.product.right .thumbnail { order: 2; }
.product .thumbnail img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

}
.product .thumbnail img.bordered {
  border: solid 1px #CCCCCC;
}
.product .content {
  width: 500px;
  flex-shrink: 1;
  text-align: center;
}
.product.left .content { order: 2; margin-left: 50px; }
.product.right .content { order: 1; margin-right: 50px; }
.product .content .title {
  font-size: 18px;
  line-height: 1em;
  margin-bottom: 1em;
  font-weight: 400;
}
.product .content .summary {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #AAAAAA;
}
.product .content .summary i {
  font-size: 22px;
  vertical-align: middle;
  color: #444444;
}
.product .content .summary .h-line {
  margin: 0 0.5em;
}
.product .content .details {
  font-size: 14px;
}
.product .content .details p {
  margin-bottom: 1em;
}

#member > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.member {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  max-width: 100%;
  padding: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.member img.icon {
  flex-shrink: 1;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-right: 40px;
  border: solid 1px #AAAAAA;
}
.member .details {
  flex-shrink: 1;
  text-align: left;
}
.member .details .name {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.member .details .sns {
  margin-bottom: 15px;
}
.member .details .sns a {
  display: inline-block;
  border: solid 1px #AAAAAA;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 15px 0 10px;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  color: #333333;
}
.member .details .sns a i {
  font-size: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 5px;
  color: #444444;
}
.member .details .sns a img {
  width: 32px;
  height: 32px;
  overflow: hidden;
  vertical-align: middle;
  margin-left: -2px;
  margin-right: 2px;
  color: #444444;
}
.member .details .sns a {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 200ms;
}
.member .details .sns a:hover {
  background-color: rgba(255, 170, 1, 0.2);
  transition: 200ms;
}
.member .details .tags {
  font-size: 13px;
}

#contact > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.contact {
  font-size: 30px;
  margin-bottom: 30px;
}
.contact i {
  vertical-align: middle;
  margin-right: 10px;
}



