@charset="UTF-8";

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes slidein-from-left {
  from { opacity: 0; transform: translateX(-20px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slidein-from-right {
  from { opacity: 0; transform: translateX(20px); }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes slidein-from-top {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes slidein-from-bottom {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes slideout-to-left {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(-20px); }
}
@keyframes slideout-to-right {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(20px); }
}

/* General */
*, *:before, *:after {
  box-sizing: border-box;
  transition: ease-in-out;
}
html {
  font-size: 16px;
  font-family: 'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif;
  font-weight: 200;
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  background: #fff;
  color: #333333;
  line-height: 1.4;
  animation-name: fadein;
  animation-duration: 500ms;
}
img {
  vertical-align: top;
}
svg {
  vertical-align: top;
}
svg path {
  fill: #444444;
  transition: 300ms;
}
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ff7b00;
  transition: 300ms;
}
a:hover {
  color: #ffaa01;
  transition: 300ms;
}
a.underline {
  color: #333333;
}
a.underline:before,
a.underline:after {
  content: "";
  position: absolute;
  top: 2.0em;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: solid 2px #ffaa01;
  background: rgba(255,255,255,0);
  transition: 300ms;
}
a.underline:before { left: 50%; }
a.underline:after { right: 50%; }
a[data-paging-current]:before,
a[data-paging-current]:after,
a.underline:hover:before,
a.underline:hover:after {
  width: 50%;
}
.graphfont {
  font-family: 'Raleway', 'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif;
  font-weight: 400;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  animation-name: fadein;
  animation-duration: 5000ms;
  animation-fill-mode: both;
}

#logo {
  z-index: 100;
  position: fixed;
  top: 30px;
  left: 50px;
  height: 40px;
}
#logo h1 {
  display: inline-block;
}

#links {
  z-index: 200;
  position: fixed;
  top: 30px;
  right: 100px;
  height: 40px;
  text-align: right;
}
#links svg {
  height: 35px;
  margin: 2px 10px 3px 10px;
  vertical-align: middle;
  fill: #444444;
}
#links svg:hover path {
  fill: #ffaa01;
  transition: 300ms;
}

#menu_icon {
  z-index: 1100;
  position: fixed;
  top: 35px;
  right: 40px;
  width: 40px;
  height: 30px;
  vertical-align: middle;
}
#menu_icon div {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #444444;
  left: 0;
  transition: 300ms;
  opacity: 1;
}
#menu_icon div:nth-child(1) { top: 0px; }
#menu_icon div:nth-child(2) { top: 13px; }
#menu_icon div:nth-child(3) { bottom: 1px; }
#menu_icon.active div:nth-of-type(1) {
  width: 43px;
  background: #FFFFFF;
  transform: translateY(13px) rotate(-315deg);
}
#menu_icon.active div:nth-of-type(2) {
  opacity: 0;
}
#menu_icon.active div:nth-of-type(3) {
  width: 43px;
  background: #FFFFFF;
  transform: translateY(-13px) rotate(315deg);
}
#menu_icon:hover div,
#menu_icon.active:hover div:nth-of-type(1),
#menu_icon.active:hover div:nth-of-type(2),
#menu_icon.active:hover div:nth-of-type(3) {
  background: #ffaa01;
  transition: 300ms;
}

#full_nav {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  opacity: 0;
  transition: 300ms;
}
#full_nav.active {
  display: block;
  opacity: 1;
  animation-name: fadein;
  animation-duration: 500ms;
  transition: 500ms;
}
#full_nav.fadeout {
  display: block;
  opacity: 0;
  transition: 300ms;
}
#full_nav div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 5px;
}
#full_nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  transition: 300ms;
  padding: 5px 10px;
  margin: 20px 0;
  opacity: 0;
  transition: 300ms;
  transform: translateY(-100px);
  animation-name: slidein-from-left;
  animation-duration: 500ms;
  animation-fill-mode: both;
}
#full_nav a:hover {
  color: #ffaa01;
  border-left: solid 1px #ffaa01;
  border-right: solid 1px #ffaa01;
  transition: 300ms;
  padding: 5px 30px;
}
#full_nav a.nav1 { animation-name: slidein-from-left; }
#full_nav a.nav2 { animation-name: slidein-from-right; }
#full_nav a.nav3 { animation-name: slidein-from-left; }
#full_nav a.nav4 { animation-name: slidein-from-right; }

#copyright {
  z-index: 300;
  position: fixed;
  right: 50px;
  bottom: 30px;
  font-size: 14px;
}

#left_nav {
  z-index: 400;
  position: fixed;
  top: 50%;
  left: 0;
  width: 140px;
  transform: translateY(-50%);
  padding: 10px 20px 10px 0;
  text-align: right;
  font-size: 18px;
  line-height: 2.5em;
  border-right: solid 1px #AAAAAA;
}
#left_nav a {
  animation-name: slidein-from-left;
  animation-duration: 800ms;
  animation-fill-mode: both;
}
#left_nav a.nav1 { animation-delay: 100ms; }
#left_nav a.nav2 { animation-delay: 200ms; }
#left_nav a.nav3 { animation-delay: 300ms; }
#left_nav a.nav4 { animation-delay: 400ms; }

section {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  padding: 100px 50px;
}

h2.section-title {
  font-size: 40px;
  font-weight: 200;
  color: #444444;
  margin-bottom: 100px;
}

#about > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 520px;
}
.about h2 {
  animation-name: slidein-from-top;
  animation-duration: 800ms;
  animation-fill-mode: both;
  padding-bottom: 20px;
}
.about h2 img {
  width: 500px;
}
.about p {
  animation-name: slidein-from-bottom;
  animation-duration: 800ms;
  animation-fill-mode: both;
  font-size: 16px;
}
@keyframes draw-line {
  from { width: 0 }
  to { width: 520px; }
}
.about .line {
  display: block;
  height: 0;
  width: 0;
  border-top: solid 1px #AAAAAA;
  margin-bottom: 20px;
  margin-left: -10px;
  animation-name: draw-line;
  animation-duration: 800ms;
  animation-delay: 800ms;
  animation-fill-mode: both;
}

#products > div {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.product .thumbnail {
  width: 300px;
  height: 300px;
  /* flex-shrink: 1; */
}
.product.left .thumbnail { order: 1; }
.product.right .thumbnail { order: 2; }
.product .thumbnail {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.product .thumbnail img {
  width: 300px;
  height: 300px;
  transform: scale(1.0);
  transition: 200ms;
}
.product .thumbnail img:hover {
  transform: scale(1.07);
  transition: 200ms;
}
/* .product .thumbnail img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.0);
  transition: 200ms;
} */
/* .product .thumbnail img:hover {
  transform: scale(1.3);
  transition: 200ms;
} */
.product .content {
  width: 500px;
  flex: 1;
  text-align: center;
}
.product.left .content { order: 2; margin-left: 50px; }
.product.right .content { order: 1; margin-right: 50px; }
.product .content .title {
  font-size: 18px;
  line-height: 1em;
  margin-bottom: 1em;
  font-weight: 400;
}
.product .content .summary {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #AAAAAA;
}
.product .content .summary img {
  height: 22px;
  vertical-align: middle;
  color: #444444;
}
.product .content .summary .h-line {
  margin: 0 0.5em;
}
.product .content .details {
  font-size: 14px;
}
.product .content .details p {
  margin-bottom: 1em;
}

#members > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.member {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  max-width: 100%;
  padding: 80px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.member img.icon {
  flex-shrink: 1;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin-right: 40px;
  border: solid 1px #AAAAAA;
}
.member .details {
  flex-shrink: 1;
  text-align: left;
}
.member .details .name {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
.member .details .sns {
  margin-bottom: 15px;
}
.member .details .sns a {
  display: inline-block;
  border: solid 1px #AAAAAA;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 15px 0 10px;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  color: #333333;
}
.member .details .sns a img {
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 5px;
}
.member .details .sns a img.hatena {
  width: 32px;
  height: 32px;
  margin-left: -2px;
  margin-right: 2px;
}
.member .details .sns a {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 300ms;
}
.member .details .sns a:hover {
  background-color: rgba(255, 170, 1, 0.2);
  transition: 300ms;
}
.member .details .tags {
  font-size: 13px;
}

#contact > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.contact {
  font-size: 30px;
  margin-bottom: 30px;
}
.contact img {
  vertical-align: middle;
  margin-right: 5px;
  height: 30px;
}
