@charset="UTF-8";

/* General */
*, *:before, *:after {
	box-sizing: border-box;
}
html {
	font-size: 10.5pt;
	font-family: 'Noto Sans Japanese', 'メイリオ', sans-serif;
	font-weight: 200;
	height: 100%;
}
body {
	min-height: 100%;
	height: 100%;
	background: #fff;
	color: #222;
	line-height: 1.4;
}
img {
	vertical-align: top;
}
a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #222;
}
a.underline:after {
	content: "";
	position: absolute;
	top: 1.3em;
	left: 0;
	display: inline-block;
	width: 0%;
	height: 0;
	border-top: solid 2px #ffaa01;
	background: rgba(255,255,255,0);
	transition: 200ms;
	/* transform: scaleX(0); */
}
a.underline:hover:after {
	/* transform: scaleX(1); */
	width: 100%;
}
.clear:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
.hcenter {
	/* horizontal center */
	margin-left: auto;
	margin-right: auto;
}
.vcenter {
	/* vertical center */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
h1, h2 {
	font-family: 'Raleway', 'Noto Sans Japanese', 'メイリオ', sans-serif;
}
h2 {
	font-size: 3.2em;
	font-weight: 200;
	margin-bottom: 10px;
}
#back-anim-canvas {
	/* background animation canvas */
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0);
	z-index: 1;
}

#foreground-body {
	/* forground */
	position: relative;
	z-index: 100;
	padding: 20px 25px;
}

/* menu */
/* menu for pc */
.menu-block {
	position: fixed;
	top: 20px;
	left: 20px;
	bottom: 20px;
	width: 230px;
	border-right: dashed 1px #aaa;
	padding-right: 20px;
	text-align: right;
	z-index: 101;
}
.menu-block h1 {
	display: inline-block;
}
.menu-block h1 img {
	width: 210px;
}
.menu-block .menu-button{
	display: none;
}
.menu-nav {
	/* same .vcenter */
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.menu {
	margin: 20px 0;
}
.menu li {
	margin: 5px 0;
	font-family: 'Raleway', 'Noto Sans Japanese', 'メイリオ', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
}
@media (max-width: 959px) {
	/* menu for tablet */
	.menu-block {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 51px;
		border: none;
		border-bottom: solid 1px #aaa;
		text-align: left;
		background: #fff;
		padding: 0;
	}
	.menu-block h1 img {
		width: 150px;
	}
	.menu-nav {
		padding: 10px 20px;
		height: 51px;
	}
	.menu {
		margin: 0;
		float: right;
		padding: 0;
		display: inline-block;
		/* same .vcenter */
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	.menu li {
		margin-left: 15px;
		display: inline-block;
		font-family: 'Raleway', 'Noto Sans Japanese', 'メイリオ', sans-serif;
		font-weight: 400;
		font-size: 1.1em;
	}
}
@media (max-width: 614px) {
	/* menu for mobile */
	.menu-block {
		position: relative;
		background: none;
		border: none;
		padding: 0;
		margin: 0;
	}
	.menu-block h1 img {
		width: 200px;
	}
	.menu-nav {
		padding: 0;
		height: inherit;
	}
	.menu {
		display: none;
	}
}

/* copyright */
.copyright-block {
	position: fixed;
	bottom: 20px;
	left: 20px;
	text-align: right;
}
.copyright {
	font-family: 'Raleway', 'Noto Sans Japanese', 'メイリオ', sans-serif;
	font-weight: 400;
}
@media (max-width: 959px) {
	/* copyright for mobile */
	.copyright-block {
		position: relative;
		width: 100%;
		margin: 40px 0 0 0;
		text-align: center;
	}
}
@media (max-width: 599px) {
	/* copyright for mobile */
}

/* Content */
/* content for pc */
.content {
	margin: 0 0 0 250px;
	padding: 20px 0;
}
.content p {
	padding: 10px 0;
}
@media (max-width: 959px) {
	/* content for tablet */
	.menu-block+.content {
		margin-top: 50px;
	}
	.content {
		margin: 0;
		padding: 20px 0;
	}
}
@media (max-width: 599px) {
	/* content for mobile */
	.menu-block+.content {
		margin-top: 0;
	}
}

/* home */
.words {
	font-family: 'Nixie One', serif;
	/* font-family: 'Carter One', serif; */
	font-size: 2em;
	color: rgba(30,30,30,0.3);
}

/* Products: */
.product-box {
	display: inline-block;
	position: relative;
	border-radius: 7px;
	border: solid 1px #aaa;
	background: rgba(255,255,255,0.5);
	padding: 15px;
	margin: 0 20px 20px 0;
	width: 560px;
	height: 260px;
}
.product-box .thumb-link {
	position: absolute;
	top: 15px;
	left: 15px;
}
.product-box .thumb {
	width: 228px;
	height: 228px;
	border: solid 1px #aaa;
}
.product-box .text {
	padding: 0 0 0 245px;
	float: left;
	/* same .vcenter */
}
.product-box .text .title {
	padding: 0 0 5px 0;
	font-weight: bold;
}
.product-box .text .genre {
	padding: 0 0 10px 0;
	border-bottom: solid 1px #aaa;
}
.product-box .text .genre+.detail {
	padding: 10px 0 5px 0;
}
.product-box .text .detail {
	padding: 5px 0;
	font-size: 0.9em;
}
@media (max-width: 959px) {
	/* product-box for tablet */
}
@media (max-width: 599px) {
	/* product-box for mobile */
	.product-box {
		width: 100%;
		height: auto;
		min-height: 200px;
	}
	.product-box .text {
		padding: 0 0 0 185px;
		/* same .vcenter */
		position: relative;
		top: 0;
		transform: translateY(0);
	}
	.product-box .thumb {
		float: left;
		width: 170px;
		height: 170px;
		border: solid 1px #aaa;
	}
}

/* Member */
.content .okayu {
	width: 150px;
	height: 150px;
	border: solid 1px #aaa;
	border-radius: 100px;
	float: left;
	margin-top: 15px;
}
.content .okayu-text {
	float: left;
	margin: 45px 0 0 20px;
	font-family: 'Raleway', 'Noto Sans Japanese', 'メイリオ', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
}
.content .okayu-text a {
	border: solid 1px #222;
	display: inline-block;
	padding: 5px 15px;
	margin: 7px 10px 0 -2px;
	background: rgba(255,255,255,0.5);
	border-radius: 3px;
	transition: 200ms;
}
.content .okayu-text a:hover {
	border: solid 1px #ffaa01;
	color: #ffaa01;
	transition: 200ms;
}
@media (max-width: 959px) {
	/* member for tablet */
}
@media (max-width: 599px) {
	/* member for mobile */
	.content .okayu {
		width: 120px;
		height: 120px;
	}
	.content .okayu-text {
		float: left;
		margin: 30px 0 0 20px;
	}
}

