@charset="UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

*, *:before, *:after {
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-family: 'Droid Serif', 'Noto Sans Japanese', 'メイリオ', sans-serif;
	font-weight: 200;
}
body {
	min-height: 100%;
	height: 100%;
	background: #fff;
	color: #333;
	line-height: 1.4;
}
a {
	text-decoration: none;
	/* color: #E07000; */
	color: #fff;
	transition-duration: 200ms;
}
a:hover {
	text-decoration: none;
	/* color: #aaa; */
	color: #ffddaa;
}
ul.list {
	list-style-type: disc;
	margin: 15px 15px 10px 30px;
}
ul.list li {
	margin-bottom: 5px;
}
ol.list {
	list-style-type: decimal;
	margin: 15px 15px 10px 30px;
}
ol.list li {
	margin-bottom: 5px;
}
.clear:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
br.s { display: none; }
br.w { display: none; }
@media (max-width: 1000px) { 
	br.s { display: none; }
	br.w { display: inline; }
}
@media (max-width: 800px) {
	br.s { display: inline; }
	br.w { display: inline; }
}

/* ---------------------------------------------------------------------- */
/* ヘッダー */
/* ---------------------------------------------------------------------- */
header {
	position: fixed;
	width: 100%;
	height: 60px;
	margin: 0;
	background: #E8822A;
	z-index: 10000;
}
header > nav {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}
@media (max-width: 1200px) { header > nav { width: 100%; } }
@media (max-width: 800px) { header > nav { width: 100%; } }
header nav.header-nav h1 {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 15px;
	float: left;
	margin-top: 10px;
}
header nav.header-nav ul.list {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 15px;
	height: 60px;
	list-style-type: none;
	margin: 0;
}
header nav.header-nav ul.list li {
	display: inline-block;
	width: auto;
	font-size: 14px;
	font-weight: 400;
	height: 100%;
	margin: 0;
	padding: 0;
}
header nav.header-nav ul.list li a {
	display: inline-block;
	padding: 20px 10px 0 10px;
	height: 100%;
	background: #E8822A;
}
header nav.header-nav ul.list li a:hover {
	display: inline-block;
	padding: 20px 10px 0 10px;
	height: 60px;
	background: #F3E1BC;
	color: #E8822A;
}
header nav.header-nav button.menu {
	display: none;
}
@media (max-width: 800px) {
	header nav.header-nav ul.list {
		display: none;
		position: absolute;
		top: 60px;
		right: 0;
		width: 100%;
		height: auto;
		list-style-type: none;
		margin: 0;
		background: #E8822A;
	}
	header nav.header-nav ul.list li {
		display: block;
		width: auto;
		font-size: 14px;
		font-weight: 400;
		height: 60px;
		margin: 0;
		padding: 0;
	}
	header nav.header-nav ul.list li a {
		display: inline-block;
		padding: 20px 10px 0 10px;
		height: 60px;
		width: 100%;
		background: #fff;
		color: #E8822A;
		border-bottom: dashed 1px #E8822A;
	}
	header nav.header-nav ul.list li a:hover {
		display: inline-block;
		padding: 20px 10px 0 10px;
		height: 60px;
		background: #F3E1BC;
		color: #E8822A;
	}
	header nav.header-nav button.menu {
		display: inline-block;
		position: absolute;
		top: 0;
		right: 15px;
		background: none;
		border: solid 1px #ffffff;
		border-radius: 5px;
		color: #ffffff;
		margin: 13px 0 0 0;
		cursor: pointer;
		width: 40px;
		height: 40px;
		padding: 0 0 0 0;
		margin: 12px;
		font-size: 24px;
		line-height: 24px;
	}
}

/* ---------------------------------------------------------------------- */
/* グリッド表示 */
/* ---------------------------------------------------------------------- */
.container-wrapper {
	width: 1200px;
	display: block;
	margin: 0 auto;
	padding: 85px 15px 15px 15px;
	/* background: #aaaaaa; */
	/* border: solid 1px; */
}
@media (max-width: 1200px) { .container-wrapper { width: 100%; } }
@media (max-width: 800px) { .container-wrapper { width: 100%; } }
.container {
	display: flex;
	flex-wrap: wrap;
	margin-top: -15px;
	margin-right: -15px;
	margin-left: -15px;
}
.content {
	position: relative;
}
/* 1分割 */
.content.g1 { flex: 0 0 100%; }
@media (max-width: 1000px) { .content.g1 { flex: 0 0 100% } }
@media (max-width: 800px) { .content.g1 { flex: 0 0 100% } }
.content.g1 > div {
	background: #fff;
	padding: 10px;
	margin: 10px;
	text-align: center;
}
.content.g1 h3 {
	color: #E8822A;
	font-size: 28px;
	font-weight: 300;
	border-bottom: solid 1px #eee;
	margin-bottom: 20px;
}

/* 2分割 */
.content.g2 { flex: 0 0 50%; }
@media (max-width: 1000px) { .content.g2 { flex: 0 0 100% } }
@media (max-width: 800px) { .content.g2 { flex: 0 0 100% } }

/* 3分割 */
.content.g3 { flex: 0 0 33.3333%; }
@media (max-width: 1000px) { .content.g3 { flex: 0 0 50% } }
@media (max-width: 800px) { .content.g3 { flex: 0 0 100% } }
.content.g3 > div {
	background: #fff;
	border: solid 1px #bbb;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	text-align: center;
}
.content.g3 div.genre {
	display: inline-block;
	position: absolute;
	top: 15px;
	left: 15px;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	border-radius: 1000px;
	background-color: #E8822A;
	color: #fff;
}
.content.g3 div.genre .fa {
	font-size: 20px;
}
.content.g3 .logo {
	display: block;
	text-align: center;
	margin-bottom: 15px;
	height: 140px;
}
.content.g3 .logo .logo-font {
	display: inline-block;
	color: #fff;
	background-color: #E8822A;
	width: 140px;
	height: 140px;
	padding: 10px;
	font-size: 100px;
	border-radius: 70px;
	padding-top: 15px;
}
.content.g3 .logo img {
	display: inline-block;
	padding: 0;
	margin: 0;
}

/* ---------------------------------------------------------------------- */
/* ボタン */
/* ---------------------------------------------------------------------- */
.button-circle {
	display: inline-block;
	padding: 6px 10px;
	font-size: 14px;
	text-decoration: none;
	color: #e07000;
	border: solid 2px #e07000;
	background: none;
	border-radius: 1000px;
}
.button-circle:hover {
	background: #E07000;
	color: #fff;
}

/* ---------------------------------------------------------------------- */
/* トップコンテンツ */
/* ---------------------------------------------------------------------- */
#top-content-wrapper {
	width: 100%;
	background: #E8822A;
	text-align: center;
	color: #ffffff;
	font-size: 22px;
	padding: 105px 0 50px 0;
	font-weight: 300;
}
#top-content-wrapper .top-text {
	margin: 15px 0 30px 0;
	padding: 10px;
}
#top-content-wrapper .top-text h2 {
	color: #F3E1BC;
}
#top-content-wrapper .top-content {
	display: inline-block;
	text-align: center;
	padding: 30px 15px 30px 15px;
	width: 100%;
	transition-duration: 200ms;
}
#top-content-wrapper .content + .content .top-content {
	border-left: dashed 1px #ffffff;
}
#top-content-wrapper .top-content * { color: #ffffff; }
#top-content-wrapper .top-content *:hover { color: #ffffff; }
#top-content-wrapper .top-content:hover {
	padding: 20px 15px 40px 15px;
}
/* #top-content-wrapper .content + .content { border-left: dashed 1px #ffffff; }                 */
/* @media (max-width: 800px) { #top-content-wrapper .content + .content { border-left: none; } } */
#top-content-wrapper .top-content .logo {
	display: block;
	text-align: center;
	margin-bottom: 15px;
}
#top-content-wrapper .top-content .logo .logo-font {
	display: inline-block;
	color: #e8822a;
	background-color: #ffffff;
	width: 140px;
	height: 140px;
	padding: 10px;
	font-size: 110px;
	border-radius: 70px;
}
#top-content-wrapper .top-content h3 {
	margin-bottom: 15px;
	color: #F3E1BC;
}
#top-content-wrapper .top-content p {
	font-size: 16px;
}

