@charset="UTF-8";

*, *:before, *:after {
	box-sizing: border-box;
}
html {
	font-size: 10.5pt;
	/* font-family: 'Mplus 1p', 'メイリオ', sans-serif; */
	font-family: 'Noto Sans Japanese', 'メイリオ', sans-serif;
	font-weight: 200;
	height: 100%;
}
body {
	min-height: 100%;
	height: 100%;
	background: #fff;
	color: #222;
	line-height: 1.4;
	padding: 20px 25px;
}
a {
	position: relative;
	text-decoration: none;
	color: #222;
}
a.underline:before,
a.underline:after {
  position: absolute;
  top: 1.4em;
  content: "  ";
  display: inline-block;
  width: 0;
  height: 0;
  border-top: solid 1px #ffaa01;
  background: rgba(255,255,255,0);
  transition: 200ms;
}
a.underline:before{
  left: 50%;
}

a.underline:after{
  right: 50%;
}

a.underline:hover:before,
a.underline:hover:after{
  width: 55%;
}


.clear:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

/* 横方向中央寄せ */
.hcenter {
	margin-left: auto;
	margin-right: auto;
}

/* 縦方向中央寄せ */
.vcenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* 背景アニメ用canvas */
#back-anim-canvas {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0);
	z-index: 1;
}

/* コンテンツ配置先 */
#main-body {
	position: relative;
	z-index: 100;
}


/* 左側 */
.left-block {
	position: fixed;
	top: 20px;
	left: 20px;
	bottom: 20px;
	width: 230px;
	border-right: dashed 1px #333;
}
.menu {
	margin: 20px 0;
}
.menu li {
	margin: 5px 0;
	font-family: 'Raleway', 'Noto Sans Japanese', 'メイリオ', sans-serif;
	font-weight: 400;
}
.copy {
	font-family: 'Raleway', 'Noto Sans Japanese', 'メイリオ', sans-serif;
	font-weight: 400;
}

h1, h2 {
	font-family: 'Raleway', 'Noto Sans Japanese', 'メイリオ', sans-serif;
}
h2 {
	font-size: 3.2em;
	font-weight: 200;
	margin-bottom: 10px;
}

.content {
	margin: 0 0 0 250px;
	padding: 20px 0;
}
.content p {
	padding: 10px 0;
}

.thumb {
	margin-right: 10px;
}


