@charset="UTF-8";

div.product {
	display: flex;
	flex-wrap: wrap;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 15px;
}
div.product div.thumb-box {
	flex: 0 0 250px;
	border: solid 1px;
}
div.product div.thumb-box img {
	width: 100%;
	height: 100%;
	max-width: 250px;
	max-height: 250px;
}
div.product div.info-box {
	flex: 1 0 auto;
	border: solid 1px;
}



