@charset="UTF-8";

div.product {
	clear: both;
	width: 100%;
	/* border: solid 1px #ccc; */
	/* border-radius: 5px; */
	padding: 15px;
}
div.product:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
div.product div.thumb-box {
	float: left;
	width: 250px;
	height: 250px;
	text-align: center;
}
@media (max-width: 800px) { div.product div.thumb-box  { width: 100%; } }
div.product div.thumb-box img {
	width: 100%;
	height: 100%;
	display: inline;
	max-width: 250px;
	max-height: 250px;
	vertical-align: bottom;
}
div.product div.info-box {
	width: auto;
	margin-left: 250px;
	text-align: left;
}
@media (max-width: 800px) { div.product div.info-box  { width: 100%;  margin: 265px 0 0 0; text-align: center; } }
div.product div.info-box > div {
	padding: 5px 15px;
}
div.product div.info-box p {
	padding-top: 1em;
}
div.product div.info-box .product-title {
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
}
div.product div.info-box .product-title h4 {
	font-size: 140%;
	font-weight: bold;
}


